.no-product {
  margin-top: $--margin-m;
  & img {
    opacity: 0.3;
  }
  & p {
    text-align: center;
    margin-top: $--margin-l;
    @include media-prop(font-size, 2rem, 1.6rem, 1.6rem);
    text-transform: capitalize;
  }
  & a {
    text-transform: uppercase;
    @include media-prop(font-size, 2rem, 1.8rem, 1.3rem);
  }
}
