.btn {
  border: none;
  outline: none;
  text-align: center;
  margin: 1rem auto;
  @extend .flex-center;
 
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    background-color: transparent;
    color: $--color-primary;
  }
  &--m {
    padding: 1.2rem 1.5rem;
  }
  &--l {
   @include media-prop( padding,2.2rem 3rem , 1.8rem 2rem, 2rem 2.2rem);
  }
  &--primary {
    width: 15rem;
    height: 4rem;
    border-radius: 4rem;
    background: $--gradient-primary;
    color: $--color-white;
    &:hover {
      color: $--color-white;
    }
  }
  &--secondary {
    color: $--color-darker-white;
    background-color: $--color-primary;
    &:hover,
    &:active {
      color: $--color-white;
      background: $--gradient-primary;
    }
  }
  &--rounded-s {
    border-radius: 1rem;
  }
  &--rounded-m {
    border-radius: 1.5rem;
  }
}
