.header {
  width: 100%;
  background-color: $--color-primary;
  border-bottom: 1px solid $--navbar--border;
}

.navbar {
  position: relative;
  display: flex;
  @extend .flex-between;
  min-height: 3.2rem;
  width: 100%;
  padding: $--paddding-s 0;
  &__toggler {
    display: none;
  }
  &__left {
    align-items: flex-start;
    &__logo {
      max-width: 9rem;
      min-width: 3rem;
    }
  }
  &__center {
    margin-left: $--margin-m;

    &__menu {
      display: flex;
      align-items: center;
      &__item {
        padding: $--paddding-s;
        &__link {
          color: $--color-dark-white;
          transition: $--transition;
          @include media-prop(font-size, 2.2rem, 1.6rem, 1.8rem);
          &:hover {
            color: $--color-secondary;
          }
        }
      }
    }
  }
  &__right {
    &__actions {
      display: flex;
      align-items: center;
      @include media-prop(font-size, 2rem, 1.5rem, 1.5rem);
      &-user {
        @include media-prop(padding, 1rem, 1.2rem, 1.2rem);

        & button {
          margin-left: $--margin-s;
        }
      }
    }
  }
}

@media screen and (max-width: 707px) {
  .navbar {
    .search {
      display: none;
    }
    &__toggler {
      display: flex;
      margin-right: $--margin-m;
    }
    &__center {
      &__menu {
        display: none;
      }
      &__mobile {
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        left: -2rem;
        top: 100%;
        width: 60vw;
        background-color: $--color-primary;
        padding-left: 1rem;
        height: 100vh;
        align-items: flex-start;
        z-index: 99;
      }
    }
  }
}
