.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  &__input {
    outline: none;
    border: none;
    padding: $--paddding-s $--paddding-l;
    border-radius: $--paddding-m;
    width: 100%;
  }
  &__button {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
}
